#project related files
.DS_Store
Referenced Packages
.settings
.project
.externalToolBuilders/
salesforce.schema
build/node_modules/
build/tmp/
npm-debug.log

#ignore credential files
sfdc-build.properties
credentials.json
credentials-validation.json

# Un-comment any of the following standard components if
# you need to include any of these in your project

#unfiled emails
**/email/unfiled$public

#default communities available in dev org
**/communities/Internal Community.community

#default home layouts for dev orgs
**/homePageLayouts/DE Default.homePageLayout

#standard applications
**/applications/standard__AppLauncher.app
**/applications/standard__Chatter.app
**/applications/standard__Community.app
**/applications/standard__Content.app
**/applications/standard__Marketing.app
**/applications/standard__Platform.app
**/applications/standard__Sales.app
**/applications/standard__Service.app
**/applications/standard__ServiceConsole.app
**/applications/standard__Sites.app
**/applications/standard__Work.app

#standard roles from dev org
**/roles/CEO.role
**/roles/CFO.role
**/roles/COO.role
**/roles/ChannelSalesTeam.role
**/roles/CustomerSupportInternational.role
**/roles/CustomerSupportNorthAmerica.role
**/roles/DirectorChannelSales.role
**/roles/DirectorDirectSales.role
**/roles/EasternSalesTeam.role
**/roles/InstallationRepairServices.role
**/roles/MarketingTeam.role
**/roles/SVPCustomerServiceSupport.role
**/roles/SVPHumanResources.role
**/roles/SVPSalesMarketing.role
**/roles/VPInternationalSales.role
**/roles/VPMarketing.role
**/roles/VPNorthAmericanSales.role
**/roles/WesternSalesTeam.role

#standard assignment rules
**/assignmentRules/Case.assignmentRules
**/assignmentRules/Lead.assignmentRules

#standard sharing rules
**/opportunitySharingRules/Opportunity.sharingRules
**/leadSharingRules/Lead.sharingRules
**/accountSharingRules/Account.sharingRules
**/campaignSharingRules/Campaign.sharingRules
**/caseSharingRules/Case.sharingRules
**/contactSharingRules/Contact.sharingRules

#standard settings
**/settings/Case.settings
**/settings/ChatterAnswers.settings
**/settings/Company.settings
**/settings/Contract.settings
**/settings/Entitlement.settings
**/settings/Knowledge.settings
**/settings/Mobile.settings
**/settings/Security.settings
**/settings/Ideas.settings

#standard quickActions
**/quickActions/Case.NewChildCase.quickAction
**/quickActions/CollaborationGroup.NewGroupMember.quickAction
**/quickActions/CollaborationGroup.NewGroupRecord.quickAction
**/quickActions/FeedItem.NewTaskFromFeedItem.quickAction
**/quickActions/LogACall.quickAction
**/quickActions/NewAccount.quickAction
**/quickActions/NewCase.quickAction
**/quickActions/NewContact.quickAction
**/quickActions/NewEvent.quickAction
**/quickActions/NewGroup.quickAction
**/quickActions/NewLead.quickAction
**/quickActions/NewNote.quickAction
**/quickActions/NewOpportunity.quickAction
**/quickActions/NewTask.quickAction
**/quickActions/Task.Defer.quickAction
**/quickActions/Task.Defer_0.quickAction
**/quickActions/Task.EditDescription.quickAction
**/quickActions/Task.EditDescription_0.quickAction
**/quickActions/Task.UpdatePriority.quickAction
**/quickActions/Task.UpdatePriority_0.quickAction
**/quickActions/Task.UpdateStatus.quickAction
**/quickActions/Task.UpdateStatus_0.quickAction

#standard page layouts
**/layouts/Account-Account %28Marketing%29 Layout.layout
**/layouts/Account-Account %28Sales%29 Layout.layout
**/layouts/Account-Account %28Support%29 Layout.layout
**/layouts/Account-Account Layout.layout
**/layouts/Asset-Asset Layout.layout
**/layouts/Campaign-Campaign Layout.layout
**/layouts/CampaignMember-Campaign Member Page Layout.layout
**/layouts/Case-Case %28Marketing%29 Layout.layout
**/layouts/Case-Case %28Sales%29 Layout.layout
**/layouts/Case-Case %28Support%29 Layout.layout
**/layouts/Case-Case Layout.layout
**/layouts/CaseClose-Close Case Layout.layout
**/layouts/Contact-Contact %28Marketing%29 Layout.layout
**/layouts/Contact-Contact %28Sales%29 Layout.layout
**/layouts/Contact-Contact %28Support%29 Layout.layout
**/layouts/Contact-Contact Layout.layout
**/layouts/ContentVersion-Content Version Layout.layout
**/layouts/Contract-Contract Layout.layout
**/layouts/DandBCompany-D%26B Company Layout.layout
**/layouts/DuplicateRecordSet-Duplicate Record Set Layout.layout
**/layouts/Event-Event Layout.layout
**/layouts/Global-Global Layout.layout
**/layouts/Idea-Idea Layout.layout
**/layouts/Lead-Lead %28Marketing%29 Layout.layout
**/layouts/Lead-Lead %28Sales%29 Layout.layout
**/layouts/Lead-Lead %28Support%29 Layout.layout
**/layouts/Lead-Lead Layout.layout
**/layouts/Macro-Macro Layout.layout
**/layouts/Opportunity-Opportunity %28Marketing%29 Layout.layout
**/layouts/Opportunity-Opportunity %28Sales%29 Layout.layout
**/layouts/Opportunity-Opportunity %28Support%29 Layout.layout
**/layouts/Opportunity-Opportunity Layout.layout
**/layouts/OpportunityLineItem-Opportunity Product Layout.layout
**/layouts/Order-Order Layout.layout
**/layouts/OrderItem-Order Product Layout.layout
**/layouts/Pricebook2-Price Book Layout.layout
**/layouts/PricebookEntry-Price Book Entry Layout.layout
**/layouts/Product2-Product Layout.layout
**/layouts/SocialPersona-Social Persona Layout.layout
**/layouts/Solution-Solution Layout.layout
**/layouts/Task-Task Layout.layout
**/layouts/User-User Layout.layout
**/layouts/WorkCoaching-Coaching Layout.layout
**/layouts/WorkFeedback-Feedback Layout.layout
**/layouts/WorkFeedbackQuestion-Feedback Question Layout.layout
**/layouts/WorkFeedbackQuestionSet-Feedback Question Set Layout.layout
**/layouts/WorkFeedbackRequest-Feedback Request Layout.layout
**/layouts/WorkFeedbackTemplate-Feedback Template Layout.layout
**/layouts/WorkGoal-Goal Layout.layout
**/layouts/WorkGoalCollaborator-Goal Collaborator Layout.layout
**/layouts/WorkGoalLink-Goal Link Layout.layout
**/layouts/WorkPerformanceCycle-Performance Cycle Layout.layout
